/* 상품 이미지 리스트 */
section{
    display: flex;
}

.imgList_row{
    width: 22%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 4%;
    margin-bottom: 35px;
    position: relative;
}

.imgList_row_end{
    margin-right: 0;
}

.imgList_row img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.imgList_row span{margin-top: 5px;}

/* 제목 길이 조절 */
.title{
    width: 100%;
    display: inline-block;
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}

/* 찜하기 버튼 */
input[id *= "like"]{display: none;}

.like_yn{
    width: 30px;
    height: 30px;
    font-size: 33px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.like_yn:hover,
input[id *= "like"]:checked + .like_yn{
    opacity: 1;
    color: rgb(255, 23, 66);
}

.like_yn:active,
input[id *= "like"]:checked + .like_yn:active{
    opacity: 1;
    color: rgb(219, 16, 53);
}

/* 글이 없을 때 */
.no_list{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}