.content{
    display: flex;
    flex-direction: column;
}

.content-add {
    margin-bottom: 20px;
}


#main-img{
    padding: 0;
    margin: 0;
    height: 428px;
    
}

.content-comment>div{
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: 0px;
}

.content-comment {
    display: flex;
    justify-content: space-between;
}



.content-comment>*{
    display: flex;

    
    align-items: center;

    height: 50px;
    width: 15%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.content-comment > p{
    font-size: 30px;
    flex-basis: 30%;
    padding-left: 15px;
    align-items: center;
    
    display: flex;
}



.content-comment >a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}



/* favorite__pack */
.content-favorite {
    display: flex;
    margin-bottom: 50px;
    
}







.favorite__pack{
    display: flex;
    flex-direction: column;
    height: 300px;
}

.favorite__pack > div{
    padding: 7px;
}


.favorite__pack img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    
}

input[name="heart"]{
    display: none;
}

input[name="heart"] + label{
    display: flex;
    cursor: pointer;
   
}



.fa-heart{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    font-size: 18px;

    border: 1px solid #ccc;
    border-radius: 50%;
    color: #ccc;
    margin-right: 10px;
    padding-top: 3px;

}

input[name="heart"]:checked + label>i {
    color: deeppink;
    border: 1px solid rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.favorite__price-heart {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label[for="heart"]{
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite__content {
    margin-left: 5px;
  
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

.favorite__price{
    font-weight: 700;
    font-size: 20px;
}



