.question-section *{
    border: 1px solid black;
}




#question-form {
    min-height: 800px;
}

.make-question {
    display: flex;
    
}

.make-question > a{
    flex-basis: 50%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0,0,0,0.7);

}



.make-question > a:nth-child(2) {
    background-color: var(--lightYellow);
    font-weight: bold;
}

/* textarea[name="question-content"] {
    resize: none;
    padding: 7px;
    margin: 15px;

}

.question__category, .question__title{
    padding: 5px;
}

label[for="category"]{
    background-color: #ccc;
    margin-right: 20px;
}
.question__title > span{
    background-color: #ccc;
    margin-right: 20px;
} */


/* .question__title{
    display: flex;
}

.question__title>*:nth-child(1){
    flex-basis: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.question__title>*:nth-child(2){
    flex-basis: 80%;
    margin-right: 20px;
}

.category-list{
    display: flex;
}

.question-title{ */
    /* flex-basis: 20%; */
    /* height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.category-list{
    flex-basis: 80%;
    margin-right: 20px;
} */

form{
    width: 100%;
}

.question-table {
    width: 100%;
}

tr{
    display: flex;
    width: 100%;
}

tr>td:nth-child(1){
    flex-basis: 25%;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

tr>td:nth-child(2){
    flex-basis: 75%;
  
    display: flex;
    align-items: center;
}

.first-td {
    padding-left: 15px;
    font-size: 25px;
    font-weight: bold;
}

tr{
    display: flex;
}

.question__category, .question__title {
    height: 100px;
}

.question__content {
    padding: 15px;
}

.question__add-img{
    height: 200px;
}

.question__submit {
    height: 70px;
    
}

.submit-button > button{
    height: 100%;
    width: 100%;
}

#submit-button{
    background-color: white;
    flex-basis: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-button > button{
    height: 100%;
    flex-basis: 40%;
    cursor: pointer;
    background-color: var(--yellow);
    
    font-size: 20px;
    font-weight: bold;
}

#submit-button > button:hover{
    background-color: var(--darkYellow);
    transition-duration: 0.3s;
}

textarea[name="question-content"]{
    width: 100%;
}
/* 
.question__content{
    display: flex;
}

#content-box{
    width: 100px;
} */

textarea[name="question-content"]{
 height: 100%;  
 width: 100%;
}

