/* .content{
    width: 1140px;
    min-height: 500px;
} */


/*popup*/
.popup_layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup_layer2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

/*팝업 박스*/
.popup_box {
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
    height: 600px;
    width: 600px;
    transform: translate(-50%, -50%);
    z-index: 1002;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.popup_box2 {
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    /* overflow-y: scroll; */
    /* height: 600px; */
    width: 600px;
    transform: translate(-50%, -50%);
    z-index: 1003;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
}



/*컨텐츠 영역*/
.popup_box .popup_cont  {
    padding: 50px;
    line-height: 1.4rem;
    /*font-size:14px;*/
}

/* .popup_box .popup_cont h2 {padding:15px 0;color:#333;margin:0;} */
/* .popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px;} */
/*버튼영역*/
/* .popup_box .popup_btn {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 70px;
    background: #ECECEC;
    word-break: break-word;
}

.popup_box .popup_btn a {
    position: relative;
    display: table-cell;
    height: 70px;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background: #ECECEC;
}

.popup_box .popup_btn a:before {
    content: '';
    display: block;
    position: absolute;
    top: 26px;
    right: 29px;
    width: 1px;
    height: 21px;
    background: #fff;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup_box .popup_btn a:after {
    content: '';
    display: block;
    position: absolute;
    top: 26px;
    right: 29px;
    width: 1px;
    height: 21px;
    background: #fff;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popup_box .popup_btn a.close_day {
    background: #5d5d5d;
}

.popup_box .popup_btn a.close_day:before,
.popup_box .popup_btn a.close_day:after {
    display: none;
} */

/*오버레이 뒷배경*/
.popup_overlay {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    
    background: rgba(0, 0, 0, 0.5);
}

/*popup*/

.fa-x {
    padding: 30px;
}

/* 스크롤바 설정*/
.Scroll::-webkit-scrollbar{
    width: 15px;
}

/* 스크롤바 막대 설정*/
.Scroll::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: var(--menu);
    border-radius: 8px;  
}

/* 스크롤바 뒷 배경 설정*/
.Scroll::-webkit-scrollbar-track{
    opacity: 1;
}


/* ******************************************************** */


.popup_cont2 {
    /* height: 600px; */
    /* width: 600px; */
    background-color: var(--lightYellow);
    border-radius: 20px;
}

.send_message1{
    background-color: var(--yellow);
    padding: 35px 20px 35px 20px;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.send_message2, .send_message3 {
    background-color: var(--lightYellow);
    padding: 20px;
}
.send_message1 > p:first-child {
    margin : 20px;
    font-size: 20px;
    font-weight: bold;
}

.send_message1 > p:nth-child(2){
    margin : 20px;
    color : gray;
}

.send_message2 > * {
    margin : 20px;
}

.send_message3 {
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.send_message3  > div {
    
    width: 130px;
    height: 130px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.send_message3 button {
    background-color: var(--menu);
    font-size: 15px;
    /* font-weight: bold; */
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}