a { text-decoration:none }

.title{
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    
}

.title > * {
    padding: 50px 30px 50px 30px;
    font-weight: bold;
    
}




.content{
    display: flex;
}

.side{
    border-right: 1px solid #ddd;
    padding : 30px;
    font-size: 18px;
    width: 30%;
    
}

.side1:hover, .side2:hover {
    background-color:var(--lightYellow);
    border-bottom: 1px solid #ddd;
}
.side > div {
    display: flex;
    padding : 30px;
    

}

.side1 > * , .side2 > * , .main_title > * {
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imo {
    font-size: 30px;
}

.imo1 {
    font-size: 20px;
}


.lightbulb {
    position: relative;
}

.lightbulb_inner {
    position: absolute;
    border: 2px solid white;
    background-color: var(--yellow);
    width: 360px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    top:5px;
    left:15px;
    padding : 30px;
    z-index: 1002;
    box-shadow: 5px 5px 10px 0 #ccc;
    
    
}

.lightbulb_inner > div{
    position: absolute;
    top:3px;
    left:3px;
    z-index: 1002;
    /* border: 5px solid yellow; */
    background-color: white;
    width: 350px;
    height: 300px;
    font-size: 13px;
    padding : 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
    
}

.lightbulb_inner > div > * {
    margin-bottom: 10px;
}

/* ************************************************************************* */
.mainGood, .mainBad {
    padding :30px;
    width : 70%;
}


.main_title {
    display : flex;
    font-size: 18px;
    padding : 30px;
}

.main_content > div {
    border-bottom: 1px solid #ddd;
    padding:30px;
}



.review {
    display: flex;
    justify-content: space-between;
    
}
.review  * {
    margin-right: 20px;
    font-size: 14px;
}

.review > div{
    display: flex;

}