/* *{
        border: 1px solid red;
}   */
/* /* 
섹션 1 5
섹션 2 10
섹션 3 25
섹션 4 5
섹션 5 55


*/

a { text-decoration:none }

.myBanana{
    /* min-height: 1500px; */
    height :1500px;
    display: flex;
    flex-direction: column;
}
/* 섹션1********************************************************************************************************섹션1 */
.my-rotten-banana{
    /* border :1px solid black; */
    height: 55px;
    display: flex;
    justify-content: flex-end;

    padding-right: 20px;

    font-size: 12px;
    /* font-weight: bold; */
}


.my-rotten-banana > * {
   margin-top: 15px;
   margin-right:20px
}
.my-rotten-banana > p:only-of-type{
    font-size: 18px;
    margin-top:16px;
}
/* 섹션2********************************************************************************************************섹션2 */
.myBanana-title {
    /* border :1px solid black; */
    height: 120px;
    width:100%;
    
    /* background-color: cadetblue; */
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    
}



/* 섹션3********************************************************************************************************섹션3 */

.myBanana-detail{
    /* border :2px solid yellowgreen; */
    /* background-color: rgb(235, 233, 233);
    border : 5px solid #ddd; */
    border: 4px solid rgb(139, 138, 138);
    /* background-color: var(--yellow); */
    border-radius: 20px;
    height: 220px;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.myBanana-photo{
    /* border :1px solid black; */
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position : relative;
}
.myBanana-photo > .photo {
    /* position: absolute; */
    height:75%;
    border-radius: 50%;
    border :3px solid  rgb(139, 138, 138);
    background-color: white;
}
.myBanana-photo > .pen {
    position: absolute;
    /* padding : 20px; */
    /* width:100px;
    height:100px; */
    /* background-color: yellow; */
    bottom: 30px;
    left: 155px;
    color :#333;
    

}


.myBanana-content {
    /* border :1px solid black; */
    width:70%;
    
}
.myBanana-info{
    /* border :1px solid black; */
    
    display: flex;
    
}
.myBanana-name{
    /* font-size: 50px; */
    font-size: 25px;
    font-weight: bold;
    height: 25%;
    margin:30px 20px 0px 20px;
}
.myBanana-address{
    font-size: 15px;
    margin : 30px 15px 0px 0px;
    padding-top : 10px;
}
.myBanana-changeInfo{
    /* width:50px;
    height:50px; */
    margin : 40px 15px 20px 0px;
    
}

.myBanana-intro{
   
    height: 20%;
    padding: 0px 20px 20px 20px;
    display: flex;
    align-items: center;
    /* border: 1px solid #ccc; */
}


.p_intro{
    margin-right: 15px;
    font-size: 15px;
    
    
}
.changed{
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    margin-right:10px;
    /* background-color: rgb(233, 233, 233); */
    background-color: var(--lightYellow);
    }

.introUpdateBtn {
    border : 1px solid black;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--lightYellow);
    cursor: pointer;
}

.changedBtn{
    cursor: pointer;
    border : 1px solid black;
    padding:8px;
    border-radius: 10px;
    background-color: var(--menu);
}

.myBanana-temp{
    font-size: 15px;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
.myBanana-temp > .temp-text {
    font-weight: bold;
}

.container {
    margin-top: 15px;
    background-color: rgb(208, 223, 175);
    width: 80%;
    height : 20px;
        border-radius: 15px;
}

.temperature{
    height: 100%;
    /* background-color : var(--lightYellow); */
    padding: 1%;
    border-radius: 15px;
}



/*섹션4 ********************************************************************************************************섹션4 */
.myBanana-category{
    /* border :1px solid black; */
    height: 70px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 60px;
    border-bottom: 5px solid #efefef;
    
}

.myBanana-category > *{
    margin: 10px;
   /* background-color: #feffbc; */
   /* border :1px solid #feffbc; */
    border-radius: 5px;


}


/* ********************************************************************************************************섹션5 */
.myBanana-sellList{
    /* border :1px solid black; */
    /* height: 825px; */
    /* background-color: #feffbc; */
    margin-top: 15px;
    /* margin-bottom: 15px; */
    
}
.myBanana-sell{
    /* border-bottom: 2px solid #efefef; */
    display: flex;
    justify-content: flex-end;
    height: 6%;
    /* margin-top: 10px; */
    padding-bottom: 50px;
    
}
.myBanana-sell > *{
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 70px;
    
}


/* ************************************************************** */

.content-favorite {
    display: flex;
    margin-top:50px;
    height: 800px;
    overflow:scroll;
    /* align-items: center; */
    flex-wrap: wrap;
    align-content: space-between;


}

.favorite__pack{
    display: flex;
    flex-direction: column;
    /* height: 315px; */
    border: 1px solid #ddd;
    margin: 0 5px;
}

.favorite__img{
    overflow: hidden;
}

.favorite__pack img{ /* 이게 옷사진인듯???????????????????????? */
    height: 223.33px;
    width: 215.33px;
    object-fit : cover;
    border-radius: 15px;
    
}

.favorite__pack > div {
    position :relative;
}
.fa-ellipsis-vertical {
    z-index: 100;
    position: absolute;
    right : 10px;
    top : 10px;
    cursor: pointer;
}
/****************************************/

.favorite__img {
    position: relative;
}
/*자슥 글3개*/
.anotherPop{
    position : absolute;
    z-index: 100;
    right : 18px;
    top : 10px;
    cursor: pointer;
    background-color: rgb(245, 237, 237);
    border: 1px solid black;
    
}

.babo{
    border-bottom: 1px solid black;
}

.anotherPop1{
    width: 80px;
    height: 21px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.favorite__price-heart {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.favorite__content {
    margin-left: 5px;
  
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
}

.favorite__price{
    font-weight: 700;
    font-size: 13px;
    height: 30px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
}

.testcolor{
    color: black;
    font-weight: bold;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: var(--menu);
    text-decoration: none;
}
.testcolor2{
    color: orangered;
    font-weight: bold;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-decoration: none;
}


/* dot */

.favorite__img {
    position: relative;
}



.myGoodsDetail {
    display: flex;
    flex-direction: column;
    position : absolute;

    top: 20px;
    right: 20px;
    
    margin-top: 5px;
    border: 1px solid black;
    background-color: white;

    z-index: 5000;
    height: 80px;
    width: 100px;
}

.myGoodsDetail * {
    color: rgba(0, 0, 0, 0.6);
    height: 100px;
}


.hidden{
    display: none;
}