a { text-decoration:none }

.myBanana{
    height :1500px;
    display: flex;
    flex-direction: column;
}
/* 섹션1********************************************************************************************************섹션1 */
.my-rotten-banana{
    height: 55px;
    display: flex;
    justify-content: flex-end;

    padding-right: 20px;

    font-size: 12px;
}


.my-rotten-banana > * {
   margin-top: 15px;
   margin-right:20px
}
.my-rotten-banana > p:only-of-type{
    font-size: 18px;
    margin-top:16px;
}
/* 섹션2********************************************************************************************************섹션2 */
.myBanana-title {
    height: 120px;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    
}



/* 섹션3********************************************************************************************************섹션3 */

.myBanana-detail{
    border: 4px solid rgb(139, 138, 138);
    background-color: var(--yellow);
    border-radius: 20px;
    height: 220px;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.myBanana-photo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position : relative;
}
.myBanana-photo > .photo {
    height:75%;
    border-radius: 50%;
    border :3px solid  rgb(139, 138, 138);
    background-color: white;
}
.myBanana-photo > .pen {
    position: absolute;
    bottom: 30px;
    left: 155px;
    color :#333;
    cursor: pointer;
    

}


.myBanana-content {
    width:70%;
}
.myBanana-info{
    display: flex;
    width: 100%;
    height: 100px;
    padding:  0 0 0 20px;
    align-items: center;
}
.myBanana-name{
    font-size: 25px;
    font-weight: bold;
}
.myBanana-address{
    margin: 10px 0 0 10px;
    font-size: 15px;
}

.myBanana-intro{
    height: 20%;
    padding: 0px 20px 20px 20px;
    display: flex;
    align-items: center;
}


.p_intro{
    margin-right: 15px;
    font-size: 15px;
    
    
}
.changed{
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    margin-right:10px;
    background-color: var(--lightYellow);
    }

.introUpdateBtn1 {
    border : 1px solid black;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--menu);
    cursor: pointer;
    margin: 0 0 0 20PX;
}

.introUpdateBtn2 {
    border : 1px solid black;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--menu);
    cursor: pointer;
}

.changedBtn{
    cursor: pointer;
    border : 1px solid black;
    padding:8px;
    border-radius: 10px;
    background-color: var(--menu);
    cursor: pointer;
}

.myBanana-temp{
    font-size: 15px;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
.myBanana-temp > .temp-text {
    font-weight: bold;
}

.container {
    margin-top: 15px;
    background-color: rgb(208, 223, 175);
    width: 80%;
    height : 20px;
        border-radius: 15px;
}

.temperature{
    height: 100%;
    padding: 1%;
    border-radius: 15px;
}



/*섹션4 ********************************************************************************************************섹션4 */
.myBanana-category{
    height: 70px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 60px;
    border-bottom: 5px solid #efefef;
    
}

.myBanana-category > *{
    margin: 10px;
    border-radius: 5px;


}

/* **************************************************** */

/***************프로필 화면 *********************/
.profile-image-area {
    width : 150px;
    height: 150px;
    border: 3px solid #ccc;
    border-radius:  50%;
    position: relative;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-image {
    
    height: 100%;

}

form[name = 'myPage-frm']{position:relative;}

/* 삭제버튼 */
#delete-image {
    
    position: absolute;
    top: -2px;
    right :240px;
    cursor: pointer;
}

/* 이미지 버튼 영역 */
.profile-btn-area {
    width: 230px;
    margin: 20px 0;
    display: flex;

    justify-content: center;
    align-items: center;
}

.profile-btn-area > * {
    width: 110px;
    height: 30px;
    padding : 5px 10px;
    font-size: 14px;

    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    text-align: center;
}

#image-input {display: none;}

.profile-btn-area > button {
    background-color: #455ba8;
    color: white;
    margin-left : 2px;
}


/* 섹션5********************************************************************************************************섹션5 */
/* .myBanana-reviewList{
    border :1px solid black;
    height: 825px;
    background-color: #feffbc;
    margin-top: 15px;
    margin-bottom: 15px;
} */

/* .myBanana-sellList > .title_section_1, .bubble_section, .icon_section, .number_section, .title_section_2  {
    font-size: 20px;
    height : 100px;
} */

/* .myBanana-sellList > .review_section {
   height: 300px;
   font-size: 20px;
} */

.title_section_1 {
    height : 100px;
    display: flex;
    
    align-items: center;
    font-size: 20px;
    border-bottom:1px solid #ccc;
    

}

.title_section_1 > * {
    margin: 10px;
}

.review_section_1, .review_section_2 {
    /* height: 300px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.review_section_1 {
    border-bottom: 3px solid #ddd;
}



/* .myBanana-sellList >.review_section_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    height : 100px;
} */



/* .circle {
    font-size: 50px;
    /* display: flex;
    justify-content: center; 
} */

/* .iconBox{
    display: flex;
    justify-content: center;
} */

.row1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* background-color: aqua; */
    padding-bottom: 20px;

}

.row3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* background-color: aqua; */
    padding-top: 20px;

}

.row1 > .row {
    width: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.row > .row1col1{
    /* width: 200px; */
    width: 250px;
    text-align: center;
}

.row > .row1col2{
    width: 250px;
    text-align: center;
}

.row > .row1col3{
    /* width: 200px; */
    width: 250px;
    text-align: center;
}

.row > .row1col4{
    /* width: 200px; */
    width: 250px;
    text-align: center;
}

.row > .row1col5{
    width: 250px;
    text-align: center;
}

.row2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* background-color: yellow; */
    

}

.row2 > .iconBox {
    /* font-size: 70px; */
    width: 70px;
    display: flex;
    justify-content: center;
}

.iconBox > .circle {
    font-size: 70px;
}

.row > .row3col1{
    width: 250px;
    text-align: center;
}

.row > .row3col2{
    width: 250px;
    text-align: center;
}

.row > .row3col3{
    width: 250px;
    text-align: center;
}

.row > .row3col4{
    width: 250px;
    text-align: center;
}

.row > .row3col5{
    width: 250px;
    text-align: center;
}

.row3 > .row33 {
    width: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.title_section_2 {
    display: flex;
    height : 100px;
    align-items: center;
    font-size: 20px;
    border-bottom:1px solid #ccc;


}

.title_section_2 > * {
    margin: 10px;
}
/*  230번줄 중복*/
/* .review_section_2 {
    display: flex;
    height: 500px;
} */

.total_reviewer_1 {
    display: flex;
}

.detail_border {
    display: flex;
    flex-direction: column;
}

.reviewer_div1 {
    display: flex;
}

.reviewer_div2 {
    display: flex;
}

.review_text {
    font-size: 15px;
}

/* ********************************* */
.review_1 {
    border: 1px solid black;
    display: flex;
    /* margin: 100px 0px 30px 30px; */
    border-bottom : 1px solid #ddd;
    height: 197px;
    width: 900px;
    box-shadow: 5px 5px 10px 0 #ccc;
}





.review_2 {
    /* margin: 0 0 0 30px; */
    border: 1px solid black;
    display: flex;
    /* margin: 100px 0px 30px 30px; */
    border-bottom : 1px solid #ddd;
    height: 197px;
    width: 900px;
    box-shadow: 5px 5px 10px 0 #ccc;
    margin: 20px 0 20px 0;
}

.review_3 {
    border: 1px solid black;
    display: flex;
    /* margin: 100px 0px 30px 30px; */
    border-bottom : 1px solid #ddd;
    height: 197px;
    width: 900px;
    box-shadow: 5px 5px 10px 0 #ccc;
}

.userphoto{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

.userphoto > img {
    border: 2px solid black;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    
}

.row2_1 {
    display: flex;
    justify-content: space-between;

}



.row2_2, .row2_3 {
    display: flex;
}


.row2_2 > * {
    font-size: 15px;
    /* padding-left: 10px;
    padding-bottom: 10px; */
    margin: 0 5px 0 5px
}





.name {
    font-size : 20px;
    padding: 10px;
    font-weight: bold;
}

.message{
    font-size: 18px;
    padding: 10px;
    height:150px;
    width: 600px;
    margin-left: 20px ;
    overflow-y: auto;
    /* word-break:break-all; */
    border-left: 1px solid black;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.memberInfoBox{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 10px 0 0; */
}

/* 스크롤바 설정*/
.Scroll::-webkit-scrollbar{
    width: 15px;
}

/* 스크롤바 막대 설정*/
.Scroll::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: var(--menu);
    border-radius: 8px;  
}

/* 스크롤바 뒷 배경 설정*/
.Scroll::-webkit-scrollbar-track{
    opacity: 1;
}