/* *{
        border: 1px solid red;
}   */
/* /* 
섹션 1 5
섹션 2 10
섹션 3 25
섹션 4 5
섹션 5 55


*/

a { text-decoration:none }

.myBanana{

    /* min-height: 1500px; */
    height :1500px;
    display: flex;
    flex-direction: column;
    
}
/* .myBanana > section:nth-child(1) {flex-basis: 10%;}
.myBanana > section:nth-child(2) {flex-basis: 20%;}
.myBanana > section:nth-child(3) {flex-basis: 10%;}
.myBanana > section:nth-child(4) {flex-basis: 40%;} */
/* 섹션1********************************************************************************************************섹션1 */
.my-rotten-banana{
    /* border :1px solid black; */
    height: 55px;
    display: flex;
    justify-content: flex-end;

    padding-right: 20px;

    font-size: 12px;
    /* font-weight: bold; */
}


.my-rotten-banana > * {
   margin-top: 15px;
   margin-right:20px
}
.my-rotten-banana > p:only-of-type{
    font-size: 18px;
    margin-top:16px;
}
/* 섹션2********************************************************************************************************섹션2 */
.myBanana-title {
    /* border :1px solid black; */
    height: 120px;
    width:100%;
    
    /* background-color: cadetblue; */
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    
}



/* 섹션3********************************************************************************************************섹션3 */
.myBanana-detail{
    /* border :2px solid yellowgreen; */
    /* background-color: rgb(235, 233, 233);
    border : 5px solid #ddd; */
    border: 4px solid rgb(139, 138, 138);
    /* background-color: var(--yellow); */
    border-radius: 20px;
    height: 220px;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.myBanana-photo{
    /* border :1px solid black; */
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position : relative;
}
.myBanana-photo > .photo {
    /* position: absolute; */
    height:75%;
    border-radius: 50%;
    border :3px solid  rgb(139, 138, 138);
    background-color: white;
}
.myBanana-photo > .pen {
    position: absolute;
    /* padding : 20px; */
    /* width:100px;
    height:100px; */
    /* background-color: yellow; */
    bottom: 30px;
    left: 155px;
    color :#333;
    

}

.fa-pen {
    cursor: pointer;
}
.myBanana-content {
    /* border :1px solid black; */
    width:70%;
    
}
.myBanana-info{
    /* border :1px solid black; */
    
    display: flex;
    
}
.myBanana-name{
    /* font-size: 50px; */
    font-size: 25px;
    font-weight: bold;
    height: 25%;
    margin:30px 20px 0px 20px;
}
.myBanana-address{
    font-size: 15px;
    margin : 30px 15px 0px 0px;
    padding-top : 10px;
}
.myBanana-changeInfo{
    /* width:50px;
    height:50px; */
    margin : 40px 15px 20px 0px;
    
}

.myBanana-intro{
   
    height: 20%;
    padding: 0px 20px 20px 20px;
    display: flex;
    /* border: 1px solid #ccc; */
}
.myBanana-intro > p:only-of-type{
    margin-right: 15px;
    font-size: 15px;
    
    
}

.myBanana-temp{
    font-size: 15px;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
.myBanana-temp > .temp-text {
    font-weight: bold;
}

.temperature{
    width: 450px;
    height: 20px;
    margin-top: 15px;
    background-color : green;
    border-radius: 10px;
}

/*섹션4 ********************************************************************************************************섹션4 */
.myBanana-category{
    /* border :1px solid black; */
    height: 70px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 60px;
    border-bottom: 5px solid #efefef;
    
}

.myBanana-category > *{
    margin: 10px;
   /* background-color: #feffbc; */
   /* border :1px solid #feffbc; */
    border-radius: 5px;


}


/* ********************************************************************************************************섹션5 */
.myBanana-sellList{
    /* border :1px solid black; */
    height: 825px;
    /* background-color: #feffbc; */
    margin-top: 15px;
    /* margin-bottom: 15px; */
    
}
.myBanana-sell{
    /* border-bottom: 2px solid #efefef; */
    display: flex;
    justify-content: flex-end;
    height: 6%;
    /* margin-top: 10px; */
    padding-bottom: 50px;
    
}
.myBanana-sell > *{
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 70px;
    
}


/* ************************************************************** */
/* .content{
    display: flex;
    flex-direction: column;
}

.content-add {
    margin-bottom: 20px;
}


#main-img{
    padding: 0;
    margin: 0;
    height: 428px;
    
}

.content-comment>div{
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: 0px;
} */

/* .content-comment>*{
    display: flex;

    
    align-items: center;

    height: 50px;
    width: 15%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.content-comment > p{
    font-size: 30px;
    flex-basis: 30%;
    padding-left: 15px;
    align-items: center;
    
    display: flex;
}



.content-comment >a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

 */

/* favorite__pack */

.content-favorite {
    display: flex;
    margin-top:50px;

}







.favorite__pack{
    display: flex;
    flex-direction: column;
    /* height: 315px; */
    border: 1px solid #ddd;
    margin: 0 5px;
}



.favorite__pack img{ /* 이게 옷사진인듯???????????????????????? */
    height: 100%;
    width: 100%;
    border-radius: 15px;
    
}

.favorite__pack > div {
    position :relative;
}
.fa-ellipsis-vertical {
    z-index: 1002;
    position: absolute;
    right : 10px;
    top : 10px;
    cursor: pointer;
}
/****************************************/

.favorite__img {
    position: relative;
}
/*자슥 글3개*/
.anotherPop{
    position : absolute;
    z-index: 1002;
    right : 18px;
    top : 10px;
    cursor: pointer;
    background-color: rgb(245, 237, 237);
    border: 1px solid black;
    
}

.babo{
    border-bottom: 1px solid black;
}

.anotherPop1{
    width: 80px;
    height: 21px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .fa-heart{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    font-size: 13px;

    border: 1px solid #ccc;
    border-radius: 50%;
    color: #ccc;
    margin-right: 10px;
    padding-top: 3px;

} */



.favorite__price-heart {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.favorite__content {
    margin-left: 5px;
  
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
}

.favorite__price{
    font-weight: 700;
    font-size: 13px;
    height: 30px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
}

.testcolor{
    color: black;
    font-weight: bold;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: var(--menu);
    text-decoration: none;
}
.testcolor2{
    color: orangered;
    font-weight: bold;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-decoration: none;
}


/* ************************************************************** 기존구문*/
/* .content{
    display: flex;
    flex-direction: column;
}

.content-add {
    margin-bottom: 20px;
}


#main-img{
    padding: 0;
    margin: 0;
    height: 428px;
    
}

.content-comment>div{
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: 0px;
}

.content-comment {
    margin-top:50px;
}



.content-favorite {
    display: flex;
    margin-bottom: 50px;
    
}







.favorite__pack{
    display: flex;
    flex-direction: column;
    height: 315px;
    border: 1px solid #ddd;
    margin: 0 5px;
}



.favorite__pack img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    
}





.fa-heart{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    font-size: 18px;
    
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #ccc;
    margin-right: 10px;
    padding-top: 3px;
    
}



.favorite__price-heart {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.favorite__content {
    margin-left: 5px;
    
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

.favorite__price{
    font-weight: 700;
    font-size: 15px;
    height: 30px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
}

.testcolor{
    color: black;
    font-weight: bold;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: var(--menu);
}
.testcolor2{
    color: orangered;
    font-weight: bold;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
} */
/*----------------------------------------------------*/
/* .content-comment>*{
    display: flex;

    
    align-items: center;

    height: 50px;
    width: 15%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.content-comment > p{
    font-size: 30px;
    flex-basis: 30%;
    padding-left: 15px;
    align-items: center;
    
    display: flex;
}



.content-comment >a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

 */

/* favorite__pack */

