<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "boardcomplainMapper">

<insert id="reportsubmit">
  INSERT INTO "BOARD_COMPLAIN"
  VALUES(B_COMPLAIN_NO)
  
</insert>
  
  
</mapper>
