<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<!-- namespace 속성 : 현재 공간(영역)에 대한 이름(반드시 지정!)  -->

	<resultMap type="Member" id="member_rm">
   
   		<id property="memberNo" column="MEMBER_NO"/>
   		
   		<result property="memberEmail" column="MEMBER_EMAIL"></result>
   		<result property="memberPw" column="MEMBER_PW"></result>
   		<result property="memberName" column="MEMBER_NAME"></result>
   		<result property="memberNickname" column="MEMBER_NICKNAME"></result>
   		<result property="introduce" column="INTRODUCE"></result>
   		<result property="memberTel" column="MEMBER_TEL"></result>
   		<result property="memberAddress" column="MEMBER_ADDRESS"></result>
   		<result property="profileImage" column="PROFILE_IMG"></result>
   		<result property="enrollDate" column="ENROLL_DATE"></result>
   		<result property="memberDeleteFlag" column="MEMBER_DEL_FL"></result>
   		<result property="authority" column="AUTHORITY"></result>
   		<result property="blockFlag" column="BLOCK_FL"></result>
   		<result property="memberBirth" column="BIRTHDAY"></result>
   		<result property="manner" column="MANNER"></result>
  
 	 </resultMap>
 	 
 	 
 	 
 	 <select id="login" parameterType="string" resultMap="member_rm">
 	 	SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_NICKNAME, INTRODUCE, MEMBER_TEL,
 	 	MEMBER_ADDRESS, PROFILE_IMG, 
 	 	TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS ENROLL_DATE,
 	 	BIRTHDAY, MANNER
 	 	FROM "MEMBER"
 	 	WHERE MEMBER_DEL_FL = 'N'
 	 	AND BLOCK_FL = 'N'
 	 	AND AUTHORITY = 1
 	 	AND MEMBER_EMAIL = #{memberEmail}
 	 </select>
 	 
 	 
  
</mapper>
