<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "myPageMapper">
  
 <update id="changeIntroduce">
  UPDATE "MEMBER" SET INTRODUCE = #{introduce}
	WHERE MEMBER_NO = #{memberNo}
</update>

 <!-- 내 회원 정보 수정 (비밀번호 포함) -->
 <update id="updateInfoPw" parameterType="Member">
	 	UPDATE "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_TEL= #{memberTel},
		MEMBER_ADDRESS = #{memberAddress},
		MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
</update>


<select id = "getListCount" parameterType = "_int" resultType = "_int">
	SELECT COUNT(*) FROM(
	SELECT RATING_NO 
	FROM GOODS_SELL 
	LEFT JOIN REVIEW  USING(GOODS_NO)
	WHERE GOODS_DEL_FL = 'N' AND SELLER_NO = #{memberNo}
	AND (RECEIVER_NO != SELLER_NO  OR RECEIVER_NO IS NULL)
	AND BUYER_NO IS NOT NULL)
</select>

<select id="">
SELECT G.GOODS_NO, SELLER_NO, TITLE AS "판매글번호",
CASE  WHEN SYSDATE - G.CREATED_AT < 1/24/60
      THEN FLOOR( (SYSDATE - G.CREATED_AT) * 24 * 60 * 60 ) || '초 전'
      WHEN SYSDATE - G.CREATED_AT < 1/24
      THEN FLOOR( (SYSDATE - G.CREATED_AT) * 24 * 60) || '분 전'
      WHEN SYSDATE - G.CREATED_AT < 1
      THEN FLOOR( (SYSDATE - G.CREATED_AT) * 24) || '시간 전'
      WHEN SYSDATE - G.CREATED_AT < 30
      THEN FLOOR( (SYSDATE - G.CREATED_AT)  ) || '일 전'
      ELSE TO_CHAR(G.CREATED_AT, 'YYYY-MM-DD')
   END CREATED_AT,
   BUYER_NO,
(SELECT MEMBER_NAME FROM "MEMBER" WHERE MEMBER_NO = BUYER_NO) BUYER_NAME, -- 구매자 이름
RATING_NO AS "거래후기번호",
R.MEMBER_NO AS "거래후기 작성자", RECEIVER_NO AS "후기받은 사람"
FROM GOODS_SELL G
LEFT JOIN REVIEW R ON(G.GOODS_NO = R.GOODS_NO)
LEFT JOIN "MEMBER" M ON (M.MEMBER_NO = G.SELLER_NO)
WHERE GOODS_DEL_FL = 'N' AND SELLER_NO = 2
AND (RECEIVER_NO != SELLER_NO  OR RECEIVER_NO IS NULL)
AND BUYER_NO IS NOT NULL
</select>

 <!-- 내 회원 정보 수정 (비밀번호 제외) -->
 <update id="updateInfoNoPw" parameterType="Member">
	 	UPDATE "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_TEL= #{memberTel},
		MEMBER_ADDRESS = #{memberAddress}
		WHERE MEMBER_NO = #{memberNo}
</update>


</mapper>
