<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "usercomplainMapper">



<insert id="userreportsubmit">
  INSERT INTO "USER_COMPLAIN"
  VALUES(SEQ_U_COM_NO.NEXTVAL, 
  		#{ctg1},
  		#{ctg2},
  		#{memberNo},
  		#{sellerNo},
  		#{reportbox},
  		DEFAULT)
</insert>

  
<select id="userDuplication">
	SELECT COUNT(*) FROM "USER_COMPLAIN"
	WHERE U_COMPLAINER = #{memberNo}
	AND U_COMPLAINED = #{memberNo2}
</select>

<!-- <insert id="userBlock">
  INSERT INTO "USER_BLOCK"
  VALUES(#{memberNo}, 
  		#{memberNo2})
</insert>
 -->

  
  
</mapper>
