<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "usercomplainMapper">



<insert id="userreportsubmit">
  INSERT INTO "USER_COMPLAIN"
  VALUES(#{u_complain_no}, 
  		#{u_com1_ctg_no},
  		#{u_com2_ctg_no},
  		#{u_complainer},
  		#{u_complained},
  		#{u_com_content}
  		DEFAULT)
</insert>

  
<select id="userDuplication">
	SELECT COUNT * FROM "BOARD_COMPLAIN"
	WHERE B_COM1_CTG_NO = #{category1}
	AND B_COM2_CTG_NO = #{category2}; 
</select>

  
  
</mapper>
