*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 상단 링크 */
.category{
    height: 40px;
    padding-left: 10px;
    font-size: 12px;
    margin-top: 25px;
    font-weight: bold;
}

/* 상품 이미지 */
.product{
    height: 600px;
    display: flex;
}

.product > section{
    width: 50%;
}

.product > section:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_img{
    width: 90%;
    height: 500px;
    position: relative;
}


.imglist{
    width: 90%;
    display: flex;
    justify-content: center;
    height: 70px;
}

.small_img{
    width: 70px;
    height: 70px;
    margin: 0 5px;
}


/* 상품 설명 */
.product_intro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_top{
    width: 100%;
    height: 28px;
}

.poppingThing{
    position:fixed;
    z-index: 300;
}

.top_right{
    height: 100%;
    font-size: 12px;
    float: right;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.top_left{
    display: inline-flex;
    align-items: center;
    background-color: #FFF8D8;
    color:#FFAB00;
    height: 100%;
    padding: 0px 10px;
    border: 1px solid #FFAB00;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}

.product_option > div{
    display: inline-block;
    width: 40%;
}

.product_title > h2:first-child,
.product_option div > h3,
.detailed_intro > h3{margin-bottom: 15px;}

.product_option > div > h3 + span,
.product_option + div > h3 + span{font-size: 15px;}

.product_title,
.product_option > div > span,
.detailed_intro > span{letter-spacing: -1px;}

.detailed_intro{height: 250px;}

/* 찜하기, 바나나톡 */
.like_talk{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.like_talk > div:first-child{width: 15%;}

#like + label{
    display: flex;
    cursor: pointer;
    width: 50px;
}

#like + label > i{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding-left: 2px;
}

#like:hover + label,
#like:checked + label{color: rgb(255, 23, 66);}

#like:active + label,
#like:checked:active + label{color: rgb(219, 16, 53);}

#like{display: none;}

.like_talk div:last-child{width: 85%;}

.like_talk button{
    background-color: rgb(255, 216, 76);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like_talk button:hover{
    background-color: rgb(255, 200, 0);
    transition-duration: 0.5s;
}

/* 설명 */
.precautions{
    background-color: rgb(255, 216, 76);
    height: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
}