.longMain {
    /* width: 2378px; */
    /* background-color: aquamarine; */
    height: auto;

    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
}

.longMain > div:nth-child(1){
    width: 280px;
    /* background-color: red; */
    /* border-right: 2px solid #eee; */
}

.longMain > div:nth-child(2){
    width: 1140px;
}

.longMain > div:nth-child(3){
    width: 280px;
}


.sidebar {
    height: 100px;
    
    margin-top: 50px;
    /* background-color: aqua; */

    position: sticky;
    top: 80px;
    
}

.sidebar > div {
    /* z-index: 3; */
    
    background-color: white;
    border: 2px solid #eee;
    margin: 0 20px;
    /* background-color: wheat; */
    
}

.sidebar__title {
    /* height: 50px; */
    border-bottom: 2px solid #eee;
    font-size: 25px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
}

.sidebar__content > a{
    padding: 20px;
    text-decoration: none;
    color: rgba(0,0,0,0.7);
    font-weight: bold;
    font-size: 20px;
}

.sidebar__content > a:hover {
    background-color: var(--lightYellow);
}

.sidebar__content > a:nth-child(1) {
    background-color: var(--yellow);
}

/* ------------------------------------------------- */


.notice-content {
    /* min-height: 1500px; */
    /* max-height: 5000px; */

    margin-bottom: 100px;
}



.notice__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 50px 0;
    border-bottom: 2px solid #eee;
}

.notice__title > p{
    font-size: 50px;
    font-weight: bold;
}



.notice__alarm{
    border-right: 2px solid rgba(0,0,0,0.2);
}




.frequent-question__title{
    padding: 50px 20px 10px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
}

/* .frequent-question__title > *:nth-child(1){
    flex-basis: 92%;
}
.frequent-question__title > *:nth-child(2){
    flex-basis: 8%;
} */

.foldBtnArea{
    display: flex;
}

#foldAll, #editBoard1{
    width: 80px;
    height: 40px;
    background-color: white;
    font-weight: bold;
    color: var(--darkYellow);
    border: 2px solid var(--darkYellow);
    border-radius: 5px;
    cursor: pointer;
}

#foldAll {
    margin-right: 50px;
}

#foldAll:hover, #editBoard1:hover{
    background-color: var(--darkYellow);
    color: white;
    transition-duration: 0.3s;
}


.frequent-question__content-detail{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    padding: 15px 0;

    font-size: 18px;
    text-decoration: none;
    color: black;
}

.frequent-question__content-detail:hover{
    background-color: var(--lightYellow);
}

.fa-circle-question{
    margin-left: 20px;
    margin-right: 10px;
    color: var(--darkYellow);
    font-size: 25px;
}

.fa-circle-question + *{
    font-size: 18px;
    text-decoration: none;
    color: black;
    
}



.frequent-question__answer{
    background-color: rgba(0,0,0,0.05);
    min-height: 50px;
    /* max-height: 550px; */
    padding: 20px 15px;
}



/* ------------------------------- */
.alarm-or-question {
    justify-content: center;
}


.alarm-or-question > a{
    width: 380px;
    height: 68px;
    margin: 0 7px;

    font-size: 24px;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.alarm-or-question > a{
    background-color: #ddd;
}

.alarm-or-question > a:nth-child(1):hover{
    background-color: var(--darkYellow);
    transition-duration: 0.3s;
}









.alarm-or-question {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    margin-top: 50px;

    
}

.alarm-or-question > a{
    flex-basis: 50%;
    height: 80%;
    background-color: var(--lightYellow);

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-size: 20px;
    color: black;
}
.alarm-or-question>a:hover {
    background-color: var(--yellow);
    font-weight: bold;
}







/* -------------------------------- */
.frequent-question__answer {
    display: none;
}




/* ---여기부터 프로필, 관리자답변-------------------------------------------------------- */
/* .area * {
    border: 1px solid black;
    
} */


.area{

    display: none;
    
    justify-content: center;
    /* align-items: center; */

    width: 100%;
    flex-direction: column;
    padding: 0 20px 20px;
    margin-bottom: 20px;
    background-color: #eee;
}

.profile-img > img{
    height: 70px;
    border-radius: 50%;
    border: 2px solid #eee;
}

.profile {
    display: flex;
    align-items: center;

    padding: 30px 20px 10px 20px;
    /* border-bottom: 2px solid #eee; */
}

.name-date {
    margin-left: 10px;
}

.nickname {
    font-weight: bold;
}

#question-date, #answer-date{
    font-size: 12px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}

#user-content, #answer-content {

    background-color: white;
    width: 100%;
    overflow-x: hidden;
    padding: 20px;
    resize: none;
    
    display: flex;
    justify-content: flex-start;
}



#answer-content{
    min-height: 12rem;
}







/* --------------------------------------- */
