/* 테이블 설정 */
*{ 
    /* border: 1px solid black; */
    justify-content: center;
}
.bananaTalk  *{ 
    /* border: 1px solid black; */
    justify-content: center;
}
.bananaTalk{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
/*************************************************/
/* 감싸고 있는 최상위 div 설정 */
#mainBox{
    display: flex;
    justify-content: left;
    width: 900px;
    height: 640px;
    margin: 30px 0;
}

/*************************************************/
#chatBoxMain{
    border: 1px solid black;
}

/***************************************/
/* 상단 상품 정보 및 신고 박스 틀 */
#productInforBox{
    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이미지 등록 박스 */
.productImgBox{
    /* background-color: green; */
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}
/* 이미지 설정 */
.productImgBox1{
    height: 85%;
    width: 85%;
}

/* 상품 제목 및 가격 큰틀 */
.productNamePrice{
    width: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* 상품내용 */
.productNameArea {
    display: flex;
}
/* 거래상태 */
.productStatus {
    height: 100%;
    width: 60px;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    
}
/* 상품 제목 */
.productName{
    font-size: 14px;
    height: 100%;
    text-align: center;
}
/* 상품가격 부분 */
.productPrice{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
/* 신고 감싼 div */
.declaration{
    height: 100%;
    width: 40px;
    background-color: yellow;
    margin-left: 20px;
}
/* 신고버튼 */
.fa-bell-slash{
    font-size: 25px;
    cursor: pointer;
}

/**********************채팅 입력 내용 전송***************************/
/* 채팅 입력 박스 최상위 div */
#input-area{
    background-color:#FFF176;
    width: 600px;
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 내용 입력 박스 */
#inputChatting{
    padding: 20px 10px 0 0;
    resize: none;
    border: none;
    outline: none;
    background-color:#FFF176;
    height: 65px;
	width: 75%;
}
/* 채팅 입력 박스 스크롤바 투명 */
#inputChatting::-webkit-scrollbar{
    display: none;
}

/* 전송버튼 커스텀 */
#send{
    background-color:  #FFF176;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #333;
    font-weight: bold;
    margin: 0 5px 0 0;
}
#send:hover{
    transform: scale(0.9);
    cursor: pointer;
}


/* ******************************채팅 목록 ******************************* */
/* 채팅 리스트 박스 */
#chatting-list{
    width: 250px;
    height: 100%;
    margin-right: 50px;
    border: 1px solid black;
    overflow-y: scroll;
    text-overflow: hidden;
}
/* 스크롤바 투명 */
#chatting-list::-webkit-scrollbar{
    display: none;
}

/* 채팅 리스트 user  최상위 박스 설정  */
.chatting-item{
	height: 80px;
	display: flex;
	padding: 5px 0;
	border-bottom: 1px solid black;
	cursor: pointer;
}
.chatting-item * {
    pointer-events: none;
}
.chatting-item > div{ height: 100%; }

/********* user 채팅 header 부분 *********/

/* 프로필이미지 감싼 박스 */
.item-header{
    width : 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 프로필 이미지 사진 */
.list-profile{ 
    border-radius: 15px;
    border: 1px solid black;
    width: 56px;
    height: 56px;
    background-color: white;
}

/********* user 채팅 body 부분 *********/
.item-body{ 
    width : 70%; 
	padding : 2px 0; 
}
.item-body> p{ 
    display: flex;
	justify-content: space-between;
    align-items:  center;
}
.item-body > div{
    display: flex;
    justify-content: space-between;
}

/* 선택된 채팅창 표시 */
.chatting-item.select{
    background-color: #FFF597;
}

/* 닉네임 */
.target-name{
    font-size: 1em;
	font-weight: bold;
}
/* 채팅온 시간 */
.recent-send-time{
	margin-right: 5px;
    font-size: 12px;
}

/* 채팅온 메세지 */
.recent-message{
	width: 180px;
    
	/* 여러 줄 말줄임 처리 */
	white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
	/*  줄바꿈 처리 */
	word-break: break-all;
}

/* 안읽은 메세지 카운트 */
.not-read-count{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
    margin: 10px 10px 0 0;
}

/* ******************************채팅 출력화면******************************* */
/* 채팅 내용*/

/* 채팅 전체 박스 */
.chatting-content{
    width: 600px;
    height: 560px;
    border-bottom: 1px solid black;
    flex-direction: column;
}

/* 채팅 내용  ?? 이게 뭐였더러라....*/
/* .chatting-content> span{
    background-color: rgb(254, 234, 51);
    padding: 5px;
    border-radius: 5px;
} */

/* 상품 제외 채팅 내용 출력박스*/
.display-chatting {
    width: 100%;
    height: 479px;
	overflow: auto;
	list-style: none;
	padding: 10px 10px;
}
/* 스크롤바 투명 */
.display-chatting::-webkit-scrollbar{
    display: none;
}

/* 고민하기 */
/* .display-chatting > div{
    margin: 10px 0;
} */


/* 상대방 프로필 사진 스타일 */
.target-chat > img{
    width: 50px;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    border: 1px solid #ddd;
}

/* 상대방 닉네임 폰트 */
.profile-name{
    font-size: 0.8125rem;
}
.chat {
	word-break: break-all;
	white-space: pre-wrap;
}

/* 말풍선 공통 */
.target-chat-col, .my-chat-col{
    display: flex;
    flex-direction: column;
    position: relative;
}

/* 상대의 채팅 말풍선들 flex 레이아웃 구성 */
.target-chat{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}
.target-chat > img{
    align-self: flex-start;
}
.target-chat-col > .chat{
    margin-top: 0.3125rem;
    padding: 0.4375rem;
    border: 1px solid rgb(228, 233, 230);
    background-color: rgb(228, 233, 230);
    border-radius: 3px;
    font-size: 0.8125rem;
    color: black;
}
.target-chat-col > .chat::before{
    content: "";
    border-bottom: 0.6875rem solid transparent;
    border-right: 0.6875rem solid rgb(228, 233, 230);
    position: absolute;
    top: 1.9rem;
    left: -0.55rem;
}
.target-chat-col{
    align-items: flex-start;
}

/* 나의 채팅 말풍선들 flex 레이아웃 구성 */
.my-chat{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 0.625rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}
.my-chat-col > .chat{
    margin-top: 0.3125rem;
    padding: 0.4375rem;
    border: 1px solid rgb(254, 234, 51);
    background-color: rgb(254, 234, 51);
    border-radius: 3px;
    font-size: 0.8125rem;
}
.my-chat-col > .chat::before{
    content: "";
    border-bottom: 0.6875rem solid transparent;
    border-left: 0.6875rem solid rgb(254, 234, 51);
    position: absolute;
    top: 0.625rem;
    right: -0.5rem;
}
.my-chat-col{
    align-items: flex-end;
}


/* 채팅 말풍선의 시간(time) 아래로 정렬 (flex item들) */
.display-chatting time{
    align-self: flex-end;
    flex-basis: 3.75rem;
    flex-shrink: 0;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    font-size: 0.75rem;
    color: rgb(88, 88, 88);
    text-align: center;
}
/* 상대채팅 시간 위치 */
.target-chat > time{
    margin-right: 2.5rem;
}
/* 내채팅 시간 위치*/
.my-chat > time{
    margin-left: 2.5rem;
}


/* 날짜선 설정 */
.date-line{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgb(88, 88, 88);
    font-size: 0.875rem;   
}
.date-line::before, .date-line::after{
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: rgba(88, 88, 88, 0.3);
    font-size: 0px;
    line-height: 0px;
}




/* 강사님 코드 알 수 없음 */
#exit-area {
    text-align: right;
	margin-bottom: 10px;
}

.exit {
    text-align: center;
}

.exit>p {
    background-color: rgba(0, 0, 0, 0.3);
}

.chat-exit {
    width: 100%;
	text-align: center;
	background-color: black;
	color: white;
}