* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    /* border: 1px solid black; */
}

/* main-------------------------------------------------------------------------- */
main {
    width: 1140px;
    margin: auto;
}
body {
    width: 1690px;
    margin: auto;
}

/* footer -------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------- */
footer {
    height: 200px;
    background-color: #a3add342;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>p {
    font-weight: bold;
    margin: 16px 0;
}

footer>article>* {
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer span {
    padding: 0 10px;
}

/* header-------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* 로고 글씨 폰트 */
#query__banana-chatting {
    font-family: 'Noto Serif', serif;
}

header {
    height: 230px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border-bottom: 3px solid #ddd;
}

.query__area-chatting {
    justify-content: space-between;
}
.query__area-chatting > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------- */
.section-query-chatting {
    width: 100%;
    padding-right: 20px;
}

.section-query-chatting>*:nth-child(2) {
    width: 50%;
}

.section-query-chatting>*:nth-child(3) {
    width: 20%;
}

.section-query-chatting>*:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.query__logo-chatting>p:first-child {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

#query__banana-chatting {
    font-size: 22px;
    font-weight: 600;
}

#logo-img-chatting {
    height: 100px;
    width: 100px;
}


/* header------------------------------------------------- */
/* ------------------------------------- */
/* 오른쪽 상단 닉네임 */
/* label태그 중 for속성 값이 header-menu-toggle인 것 */
label[for="header-menu-toggle-chatting"] {
    cursor: pointer;
    display: flex;
    height: 42px;
    min-width: 100px;
    margin: 0 10px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

#header-menu-toggle-chatting {
    visibility: hidden;
}

label[for="header-menu-toggle-chatting"]:hover {
    text-decoration: underline;
}

/* 체크박스 다음 div */
#header-menu-toggle-chatting+div {
    display: none;
}

/* 체크박스가 체크되었을때 다음 div */
#header-menu-toggle-chatting:checked+div {
    display: block;
}

.fa-caret-down-chatting {
    margin: 0 3px;
}

/* 닉네임 클릭시 보이는 메뉴 */
#header-menu-chatting {
    position: absolute;
    z-index: 500;
    width: 100px;
    height: 80px;
    /* left: 1400px;
    top: 40px; */
    margin-top: 5px;
    border: 1px solid black;
    background-color: white; 
}

#header-menu-chatting>a {
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#header-menu-chatting>a:first-child {
    border-bottom: 1px solid #ccc;
}

#header-menu-chatting>a:hover {
    background-color: var(--lightYellow);
}

#profileImg-chatting {
    width: 56px;
    height: 56px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 15px;
}

