.content{
    display: flex;
    flex-direction: column;
}

.slider {
    margin-bottom: 20px;
}


#main-img{
    padding: 0;
    margin: 0;
    height: 428px;
    
}

.content-comment>div{
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: 0px;
}

.content-comment {
    display: flex;
    justify-content: space-between;
}





.content-comment>*{
    display: flex;

    
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 15%;
    /* font-size: 20px; */
    text-decoration: none;
    text-align: center;
    color: black;
}

.title > p{
    font-size: 60px;

    flex-basis: 30%;
    padding-left: 15px;
    align-items: center;
    
    display: flex;
}

.fa-face-laugh-squint, .fa-seedling{
    font-size: 25px;
    margin-right: 15px;
}

.fa-face-laugh-squint{
    color: rgba(0,0,0,0.7);
    margin-top: 5px;
}



.content-comment  a{
    font-size: 18px;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}



/* favorite__pack */
.content-favorite {
    display: flex;
    margin-bottom: 50px;
    
}







.favorite__pack{
    display: flex;
    flex-direction: column;
    height: 300px;
}

.favorite__pack > div:nth-child(1){
    padding: 10px 10px 0;
}

/* .favorite__title, .new__title{
    padding: 7px 0 7px 20px;
} */


.favorite__pack img{
    height: 208px;
    width: 208px;
    border-radius: 15px;

    
}

input[name="heart"]{
    display: none;
}

input[name="heart"] + label{
    display: flex;
    cursor: pointer;
   
}



.fa-heart-circle-plus{

    padding-right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    font-size: 25px;


    color: #ccc;
    margin-right: 10px;
    padding-top: 2px;

}

input[name="heart"]:checked + label>i {
    color: deeppink;

    justify-content: center;
    align-items: center;
}

.favorite__price-heart {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

label[for="heart"]{
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite__title, .new__title {
    margin-left: 5px;
  
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

.favorite__price, .new__price{
    font-weight: 700;
    font-size: 20px;
}







.second{
    border-top: 2px solid #eee;
    padding-top: 20px;
}



/* ---------------------------- */
/* 슬라이드 구현 */
.slider {
    width: 1120px;
  height: 420px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
  z-index: 0;
}

.slide-img{
    width: 1120px;
    height: 420px;
    float: left;
}

.slider input[type="radio"] {
    display: none;
  }

  ul.imgs {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  ul.imgs li {
    position: absolute;
    left: 640px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */
    /* width: 800px !important; */
    padding: 0;
    margin: 0;
  }

  .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
  }
  
  .bullets label {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  /* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
  .slider
    input[type="radio"]:nth-child(1):checked
    ~ .bullets
    > label:nth-child(1) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(2):checked
    ~ .bullets
    > label:nth-child(2) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(3):checked
    ~ .bullets
    > label:nth-child(3) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(4):checked
    ~ .bullets
    > label:nth-child(4) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(5):checked
    ~ .bullets
    > label:nth-child(5) {
    background-color: #fff;
  }


  .slider input[type="radio"]:nth-child(1):checked ~ ul.imgs > li:nth-child(1) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(2):checked ~ ul.imgs > li:nth-child(2) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(3):checked ~ ul.imgs > li:nth-child(3) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(4):checked ~ ul.imgs > li:nth-child(4) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(5):checked ~ ul.imgs > li:nth-child(5) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }

  .first {
    margin-top: 50px;
  }


