*{
    box-sizing: border-box;
    /* html요소가 가지고 있는 고유한 padding, margin을 모두 없앰 */
    padding:0;
    margin:0;
    font-family: 'Nanum Gothic', sans-serif;
}


/* 분할된 영역에 테두리를 추가 */
/* div, span, main, header, footer, nav, aside, section, article{
    border:1px solid black;
} */

/* main-------------------------------------------------------------------------- */
main{
    width: 1140px;
    margin:auto; /*body태그 가로방향 가운데 정렬*/
}

/* footer -------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------- */

footer{
    height: 200px;
    background-color: #a3add342;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

footer>p{
    font-weight: bold;
    margin: 16px 0;
}

footer>article>*{
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color:black;
}

footer span {
    padding:0 10px;
}



/* header-------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

header{
    height: 200px;

     /*내부 요소를 유연하게 배치/정렬
        -> 내부 요소의 자동으로 지정된 margin이 모두 사라져 한 줄(기본값 row)로 배치*/
    display: flex; 
    flex-direction: column;
    padding: 20px;
    border-bottom: 3px solid #ddd;
    
    
}
/* flex-basis : 중심축 방향으로 일정한 크기를 갖게 하고
    display: flex 설정시 지정되는 align-items의 기본값 stretch를 이용해서
    item의 높이(cros-axis 방향)를 부모만큼 늘어나게 함*/
header>section:nth-child(1){flex-basis: 30%;  }
header>section:nth-child(2){flex-basis: 70%; }



.section-menu{
    display: flex;
}

.section-topmenu{
    flex-basis: 30%; 
    height: 100%;
    /* width: ; */
}
.section-query{
    flex-basis: 30%; 
    height: 100%;
    /* justify-content: space-between; */
}





/* 선택자가 중복작성되어도 오류X, 모든 css 속성이 적용됨 */
.section-topmenu {
    display : inline-flex;
   
    justify-content: flex-end;
    align-items: center;
    


}

.section-topmenu > a{
   
    height: 100%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
}

/* ------------------------------------------- */
.section-query{
    width: 100%;
    
}

.section-query>*:nth-child(1){
    width: 20%;
}
.section-query>*:nth-child(2){
    width: 50%;
}
.section-query>*:nth-child(3){
    width: 20%;
}

.section-query>*:nth-child(1){
    /* background-color: #455ba8; */
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.sellingMy{
    display: flex;
    justify-content: flex-end;
}


.sellingMy>div{

    padding: 5px;
    width: 150px;

    background-color: var(--yellow);
    color: rgba(0,0,0,0.6);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 15px;
    
    font-size: 16px;
    text-align: center;
}

.sellingMy>div:hover{
    justify-content: center;
    width: 150px;
    background-color: var(--darkYellow);
    color: black;
    transition-duration: 0.3s;
}

.sellingMy>div:active{
    box-shadow: 3px 4px 0 rgba(0,0,0,0.5);
}



.query__logo {
    text-align: center;
    margin-bottom: 10px;
}
.query__logo>p:first-child {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
}

#query__banana {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#logo-img {
    height: 50px;
    width: 50px;
}

/* 검색창 입력상자------------- */
.search-area{width: 500px;} /*검색창 전체 너비 지정*/

.search-area fieldset {
    padding: 2px;
    margin: 0;
    border: 4px solid var(--yellow);
    border-radius: 10px;

    display: flex;
}

/* 검색어 입력 상자 */
#query {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;

    /* 테두리 없애기 */
    /* border: 0; */
    border: none;

    /* outline : input요소에 포커스가 맞춰졌을 때 이를 표현하기 위한 바깥선 */
    outline: none;
    /*0도 가능*/

    width: 92%;
}

/* 검색버튼 디자인 */
#search-btn {
    width: 8%;
    /*icon은 특수문자 같은 문자로 취급되어 글자, 글꼴스타일 적용가능*/
    font-size: 1.5em;
    background-color: white;
    border: 0;
    color: var(--darkYellow);
    font-weight: bold;
    cursor: pointer;
}
header>section:nth-child(2){
    display : flex;
    justify-content: center;
    align-items: center;
}
/* nav--------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------- */

nav{
    height: 100px;
    /* border-bottom: 2px solid black; */

    /* 화면 밖으로 요소가 벗어났을 때 지정된 위치에 고정 */
    position:sticky;
    top:0;
    background-color: white;

    display: inline-block;
}


/* ul 스타일 지정 */
nav>ul{

    border: 2px solid #eee;
    background-color: white;
    width: 250px;

    margin:0;
    padding:0;
    list-style: none; /*li앞에 나오는 점, 숫자 등 없애는것*/
    display: flex;
    flex-direction: column;
    /* height: 100%;
    width: 100%; */
    justify-content: center;
    align-items: flex-start;
}
/* navigator 메뉴 */
nav li{
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #eee;
}

/* 메뉴 내부 a태그 */
nav li>a{
    text-decoration: none; /*밑줄 없애기*/
    font-size: 18px;
    /* font-weight: bold; */
    color:black;
    display: block;
    height: 100%;

    
    /* 글자 정렬
    padding: 11px 0; 세로 가로
    text-align: center; */

    /* 글자 정렬: 같은 방법(내부에 작성된 글자를 요소로 취급) */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-radius: 5px;
    transition-duration: 0.3s;

}

nav li>a:hover{
    background-color: rgba(250, 250, 210, 0.5);

    
    /* color: white; */
}

.category__detail{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}


.category__detail  i{
    /* visibility: collapse; */
    font-size: 25px;
    text-align:center;
    color: var(--menu);
    margin-right: 10px;
}

.category__detail p {
    width: 100%;
    font-size: 18px;
    text-align:center;
    /* font-weight: 600; */
}
/* .fa-heart, .fa-computer, .fa-couch, .fa-kitchen-set, .fa-baby, 
.fa-shirt, .fa-wand-magic-sparkles, .fa-icons, .fa-book,
.fa-dog, .fa-stack-overflow */
/* content -------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------- */
section.content{
    min-height: 800px;
    display:flex;
}











/* ----------------------------------------------- */
/* 여기서부터 드롭바 */
.drop-bar{
    padding: 10px 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border-bottom: 2px solid #eee; */
}



.drop-bar span {
    font-size: 25px;
    /* font-weight: bold; */
    cursor: pointer;
}

.fa-bars:hover .drop-bar-menu{
    font-size: 30px;
}



/* .drop-bar-menu {
    opacity: 0;
    visibility: hidden;
}

.drop-var>i:hover nav{
    opacity: 1;
    visibility: visible;
} */

