.make-question {
    display: flex;
    /* padding-bottom: 20px; */
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
}

.make-question > a{
    flex-basis: 50%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0,0,0,0.7);

}



.make-question > a:nth-child(1) {
    background-color: var(--lightYellow);
    font-weight: bold;
}

.question-section{
    min-height: 1000px;
}


.question-bundle{
    /* background-color: aqua; */
    height: 150px;
    display: flex;
    flex-direction: column;
}

.question-bundle>div:nth-child(1){
    height: 60%;
    /* background-color: red; */
    padding: 45px 15px 0;
    font-size: 20px;
    font-weight: bold;

}
.question-bundle>div:nth-child(2){
    height: 40%;
    /* background-color: yellow; */
    padding: 15px 15px 0;
    padding-bottom: 40px;
    border-bottom: 2px solid #ddd;

    display: flex;
    justify-content: flex-end;
    align-items: ce;

    font-size: 17px;
    font-weight: bold;
}

.status__answer{
    color: var(--checkRed);
    padding-right: 15px;
    padding-top: 2px;
}

.status__date{
    
}

.title__content {
    text-decoration: none;
    color: black;
}


/* -----------------여기부터 상세정보------------------------------------------------------ */

