.make-question__section > div:nth-child(2){
    display: none;
}


.make-question {
    display: flex;
    /* padding-bottom: 20px; */
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
}

.make-question > a{
    flex-basis: 50%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0,0,0,0.7);

}



.make-question > a:nth-child(1) {
    background-color: var(--yellow);
    font-weight: bold;
}

.question-section{
    min-height: 1000px;
}


.question-bundle{
    /* background-color: aqua; */
    height: 150px;
    display: flex;
    flex-direction: column;
}

.question-bundle>div:nth-child(1){
    height: 60%;
    /* background-color: red; */
    padding: 45px 15px 0;
    font-size: 20px;
    font-weight: bold;

}
.question-bundle>div:nth-child(2){
    height: 40%;
    /* background-color: yellow; */
    padding: 15px 15px 0;
    padding-bottom: 40px;
    border-bottom: 2px solid #ddd;

    display: flex;
    justify-content: flex-end;
    align-items: ce;

    font-size: 17px;
    /* font-weight: bold; */
}

.status__answer{
    color: rgb(248, 69, 69);
    padding-right: 15px;
    padding-top: 2px;
}

.status__date{
    
}

.title__content {
    text-decoration: none;
    color: black;
}


/* ---여기부터 프로필, 관리자답변-------------------------------------------------------- */
/* .area * {
    border: 1px solid black;
    
} */



.area{
    display: flex;
    justify-content: center;
    /* align-items: center; */

    width: 100%;
    flex-direction: column;
    padding: 0 50px;
}

.profile-img > img{
    height: 70px;
    border-radius: 50%;
    border: 2px solid #eee;
}

.profile {
    display: flex;
    align-items: center;

    padding: 30px 20px 10px 20px;
    /* border-bottom: 2px solid #eee; */
}

.name-date {
    margin-left: 10px;
}

.nickname {
    font-weight: bold;
}

#question-date, #answer-date{
    font-size: 12px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}

#user-content, #answer-content {
    color: rgba(0,0,0,0.5);
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    padding: 20px;
    resize: none;
    
    display: flex;
    justify-content: flex-start;
}

#user-content{
    min-height: 7rem;
    
}

#answer-content{
    min-height: 12rem;
}




div.area:nth-child(2){
    padding-bottom: 50px;
}
